body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 0; /* Supprime le padding vertical */
    text-align: center;
    display: flex; /* Active Flexbox */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
}
main {
    /*background-image: url('../arriere_plan_paysage_africain.jpg');
    background-size: cover;  Ajuste l'image pour couvrir tout le fond */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    padding: 50px; /* Ajoute un peu d'espace intérieur */
    margin: 0px 0; /* Ajoute un peu d'espace extérieur */
    min-height: calc(100vh - 200px); /* Hauteur de la section principale */
    padding-bottom: 100px;
    
}




footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px; /* Hauteur du pied de page */
}